body {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $base-text-color;
}

.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.main {
    height: 100%;

    @include breakpoint($medium-width) {
        display: flex;
    }
}

.content {
    box-sizing: border-box;
    padding: $gutter-width;

    @include breakpoint($medium-width) {
        flex: 1;
        padding: $gutter-width 20px;
    }
}

.sidebar {
    box-sizing: border-box;
    padding: $gutter-width;
    background: #ccc;

    @include breakpoint($max-small-width) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    @include breakpoint($medium-width) {
        width: $sidebar-width;
    }
}
