.footer {
    @extend %group;
    padding: $gutter-width 20px;
    background: hsl(0, 0%, 38%);

    @include breakpoint($max-small-width) {
        padding: $gutter-width;
    }
}

.copyright {
    float: left;
    color: #fff;
}

.social-media {
    @extend %group;
    padding: 0;
    margin: 10px 0 0;
    float: right;

    li {
        list-style: none;
        padding: 8px 0;
        margin-right: 10px;
        float: left;

        a {
            display: block;
            padding-right: 10px;
            border-right: 1px solid #fff;
            font-size: .75em;
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    li:first-child {
        a {
            padding-left: 0;
        }
    }

    li:last-child {
        margin-right: 0;

        a {
            padding-right: 0;
            border-right: none;
        }
    }


}
