@import "modules/header/_navigation";

.header {
	@extend %group;
	padding: 0 $gutter-width;
	background: hsla(180, 75%, 38%, 1);
}

.heading {
  width: auto;
  margin: 0;
  float: left;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: hsl(0, 100, 100);
}
