.navigation {
    margin-top: 8px;
    float: right;

    @include breakpoint($medium-width) {
        margin-top: 8px;
    }
}

.hamburger-navigation-button {
    width: 20px;
    height: 20px;
    padding: 7px 3px 1px;
    border: 2px solid #fff;
    cursor: pointer;

    @include breakpoint($medium-width) {
        display: none;
    }

    div {
        height: 3px;
        border-radius: 1px;
        margin-bottom: 3px;
        background: #fff;
    }
}

.navigation-list {
    @extend %group;
    display: none;
    padding: 0;
    margin: 0;

    @include breakpoint($medium-width) {
        display: block;
    }

    li {
        list-style: none;
        float: left;
    }

    li + li {
        margin-left: 1em;
    }

    a {
        display: block;
        padding: 8px 6px 5px;
        color: hsl(0, 100%, 100%);
        text-decoration: none;
        text-transform: uppercase;
    }

}

.show-navigation-list {
    @include breakpoint($max-small-width) {
        position: absolute;
        top: 48px;
        right: 0;
        z-index: 1;
        display: block;
        min-width: 100px;
        padding: 2px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 4px #cfcfcf;
        background: #fff;

        li {
            float: none;
            border-bottom: 1px solid #fff;
            background: #ccc;
        }

        li:last-child {
            border-bottom: 0;
        }

        li + li {
            margin: 0 0 0 0;
        }

        a {
            padding: 8px;
            font-size: .75em;
        }
    }
}
