.navigation {
	position: absolute;
  top: 13px;
	right: 0;
}

.navigation-list {
	@extend %group;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		float: left;
	}
	li + li {
		margin-left: 1em;
	}

	a {
		color: hsl(0, 100%, 100%);
		text-decoration: none;
	}
}
